body 
{
	background-image:url(../media/bg1.jpg);
	background-size: cover; 
	color: white;
}
#sdiv1
{
	height: 60px;
	font-size:30px;
	font-style: italic;
}
#sdiv2
{
	position: absolute;
    left: 33%;
    top: 20;
	background-color: brown;
    width:400px;
    border: 10px solid black;
    padding: 25px;
    margin: 25px;
}
image 
{
	opacity: 0.5;
	float: center;
}
h1 
{
	color:white;
	text-shadow:2px 2px red;	
	text-align:center;
}